# R / RStudio
.Rhistory
.RData
.Rproj.user
.Ruserdata
.RDataTmp
.RDataTmp1
*Rproj

# R packages / caches
.Renviron
.Rproj.user/
.Rbuildignore
.Rhistory

# data (do NOT commit raw data)
data/
*.csv
*.rds
*.rdata
*.xlsx

# Quarto / build output
_site/
_render/
#docs/

# OS files
.DS_Store
Thumbs.db

# large/other
*.zip
*.tar.gz

# others
quarto/

